@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
  }

  body {
    background-image: linear-gradient(90deg,  white, #00BFFF);
  }

  h1 {
    background: #00BFFF;
    font-size: 1.75rem;
    text-align: center;
    padding: 18px 0;
    color: white;
  }

/* .container {
    display: flex;
    padding: 0px;
} */


.weather-input {
    width: 400px;

    
}

.weather-input input {
    height: 46px;
    width: 100%;
    outline: none;
    font-size: 1.07rem;
    padding: 0 17px;
    margin: 10px 0 20px 0;
    border-radius: 4px;
    border: 1px solid #00BFFF
    
  }

.search-btn {
    height: 46px;
    width: 100%;
    outline: none;
    font-size: 1.07rem;
    padding: 0 17px;
    margin: 10px 0 20px 0;
    border-radius: 4px;
    border: 1px solid #00BFFF;
    background-color: #00BFFF
}

.location-btn {
    height: 46px;
    width: 100%;
    outline: none;
    font-size: 1.07rem;
    padding: 0 17px;
    margin: 10px 0 20px 0;
    border-radius: 4px;
    border: 1px solid #00BFFF;
    background-color: #00BFFF; 
}

  .weather-data .current-weather {
    color: white;
    background: #00BFFF;
    border-radius: 5px;
    padding: 20px 70px 20px 20px;
    display: flex;
    justify-content: space-between;
    z-index: 0;
    position: relative;
  }
.current-weather {
    text-align: center;
}

  .current-weather h2 {
    font-weight: 700;
    font-size: 1.7rem;
  }

  .weather-data h6 {
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 700;
  }

  .days-forecast h2 {
    margin: 20px 0;
    font-size: 1.5rem;
  }

  .weather-cards .card {
    color: #fff;
    padding: 18px 16px;
    list-style: none;
    width: calc(100% / 5);
    background: #6C757D;
    border-radius: 5px;
    z-index: 1;
    position: relative;
    font-size: 1.3rem;
    font-weight: 600;
  }

  .day {
    padding: 15px 12px;
    list-style: none;
  }



